{% extends 'base.html' %}

{% block styles %}
{% endblock %}

{% block body %}

<h1>Hello contant</h1>
<table>
    <thead>
        <tr>
            <th>name</th>
            <th>age</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
{% endblock %}