{% extends 'base.html' %}

{% block styles %}
{% endblock %}

{% block body %}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>
        Data Table Example</div>
    <div class="card-body">
        
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td>{{ datas.sportid.name }}}</td>
                    <td>{{ datas.weight }}}</td>
                    <td>{{ datas.duration }}}</td>
                    <td>{{ (datas.sportid.cal/60) * datas.weight * datas.duration }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>



{% endblock %}

{% block scripts %}
<script>
  
  $(document).ready(function(){
    //新增
    $("dataTable td .tbbtn_add").click(function(){
      $.ajax({
          'url':'/api/sportrecord/',
          'type':'POST',
          'data':datas
      }).done(function(data){
         console.log(data)
      })

    })

    //修改
    $("dataTable td .tbbtn_edit").click(function(){
      $.ajax({
          'url':'/api/sportrecord/',
          'type':'PUT',
          'data':datas
      }).done(function(data){
         console.log(data)
      })
    })

    //刪除
    $("dataTable td .tbbtn_delete").click(function(){
      $.ajax({
          'url':'/api/sportrecord/',
          'type':'DELETE',
          'data':datas
      }).done(function(data){
         console.log(data)
      })
    })

  })   
</script>
{% endblock %}